<h2>Nouvelle to-do</h2>

<form action='/todos' method='post'>
  <input type='text' name='title' placeholder='titre'><br>
  <textarea name='content' placeholder='contenu'></textarea><br>
  <input type='submit' value='Créer une to-do'>
</form>
