<!DOCTYPE html>
<html>
<head>
<title>To-do app</title>
<style>
  .urgent { background: red; text-decoration: blink; color: white }
</style>
</head>
<body>
<h1>To-do app</h1>
<%= yield %>
</body>
</html>
